<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<meta charset="utf-8">

	{% endblock %}
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<a class="navbar-brand" href="{{ url_for('index') }}">Book Review</a>
		<ul class="nav navbar-nav navbar-right">
			{% if session["logged_in"] == True %}
				<li><a href="/logout">Logout</a></li>
			{% else %}
				<li><a href="/login">Login</a></li>
			{% endif %}
		</ul>
	</nav>
	{% block body %}
	{% endblock %}

</body>
</html>