{% extends "layout.html" %}

{% block title %} Search for Books {% endblock %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<div class="container">
		<br>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<form class="card card-sm" form action="{{ url_for('search') }}" method="post">
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<i class="fas fa-search h4 text-body"></i>
						</div>

						<div class="col">
							<input type="search" name="search" class="form-control form-control-lg form-control-borderless" placeholder="Search books">
						</div>

						<div class="col-auto">
							<button class="btn btn-lg btn-success" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col"> Author </th>
					<th scope="col"> Title </th>
				</tr>
			</thead>
			
			<tbody>
				{% for item in range(result|length) -%}
					<tr>
						<th scope="row"><a href="{{  url_for('search_id', id=result[item][0]) }}"> {{ result[item][2] }}</a></th>
						<td><a href="{{url_for('search_id', id=result[item][0])}}">{{ result[item][3] }}</a></td>
					</tr>
				{%- endfor %}
			</tbody>
		</table>
	</div>

	<div class="container">
		<h2>
			{{ message }}
		</h2>
	</div>

{% endblock %}
