{% extends "layout.html" %}

{% block title %} Search for Books {% endblock %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<div class="container">
		<br>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<form class="card card-sm" form action="{{ url_for('search') }}" method="post">
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<i class="fas fa-search h4 text-body"></i>
						</div>

						<div class="col">
							<input type="search" name="search" class="form-control form-control-lg form-control-borderless" placeholder="Search books">
						</div>

						<div class="col-auto">
							<button class="btn btn-lg btn-success" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<ul>
			{% for item in result -%}
				<li> {{ item }} </li>				
			{%- endfor %}
		</ul>
	</div>

	<div class="container">
		<h2>
			{{ message }}
		</h2>
	</div>

{% endblock %}